/* BODY BACKGROUND */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;

    background: radial-gradient(circle at 30% 30%, #3b0764, #020617 70%),
                linear-gradient(135deg, #1e1b4b, #020617);

    color: white;
    text-align: center;
}

/* GLOW EFFECT */
body::before {
    content: "";
    position: fixed;
    width: 300px;
    height: 300px;
    background: #a78bfa;
    filter: blur(150px);
    top: 10%;
    left: 20%;
    z-index: -1;
}

/* LOGO LEFT SIDE */
.logo {
    position: absolute;
    top: 20px;
    left: 20px;

    font-size: 28px;
    font-weight: bold;
    font-family: cursive;

    background: linear-gradient(90deg, #a78bfa, #22d3ee);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* CONTAINER */
.container {
    width: 90%;
    max-width: 400px;
    margin: 80px auto;
    padding: 25px;

    background: rgba(255, 255, 255, 0.08);
    border-radius: 12px;

    backdrop-filter: blur(10px);
    box-shadow: 0 0 20px rgba(167, 139, 250, 0.3);
}

/* HEADINGS */
h2 {
    font-size: 26px;
    margin-bottom: 15px;

    background: linear-gradient(90deg, #a78bfa, #22d3ee);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* INPUT FIELDS */
input {
    display: block;
    width: 100%;
    padding: 12px;
    margin: 10px auto;

    border-radius: 6px;
    border: none;

    font-size: 15px;
}

/* BUTTONS */
button {
    width: 100%;
    padding: 12px;
    margin-top: 10px;

    border: none;
    border-radius: 25px;

    background: linear-gradient(45deg, #a78bfa, #22d3ee);
    color: white;

    font-size: 16px;
    cursor: pointer;

    transition: 0.3s;
}

button:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px #a78bfa;
}

/* TABLE */
table {
    width: 100%;
    margin-top: 15px;
    border-collapse: collapse;
}

th {
    background: #7c3aed;
    padding: 10px;
}

td {
    padding: 8px;
    background: rgba(255,255,255,0.1);
}

/* LINKS */
a {
    color: #22d3ee;
    text-decoration: none;
    font-weight: bold;
}

/* DASHBOARD CARDS */
.dashboard-options {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 80%;
    margin: 100px auto;
}

.card {
    padding: 20px;
    border-radius: 12px;

    background: rgba(255,255,255,0.08);
    cursor: pointer;

    box-shadow: 0 0 15px rgba(167, 139, 250, 0.3);
    transition: 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

/* MOBILE RESPONSIVE */
@media (max-width: 600px) {

    .logo {
        font-size: 22px;
        left: 15px;
    }

    .container {
        width: 95%;
        margin-top: 70px;
        padding: 20px;
    }

    h2 {
        font-size: 22px;
    }

    button {
        font-size: 15px;
    }
}
